.top-bar {
  background: #bbbbbb;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding-top: 10px;
}

.top-bar > .discover {
  justify-content: flex-start;
  align-self: flex-start;
}

.top-bar > .notification {
  justify-content: flex-end;
  align-self: flex-start;
}

.top-bar > .user-profile {
  align-self: flex-start;
  justify-content: flex-end;
}

.top-bar > .stock {
  align-self: flex-start;
  justify-content: flex-end;
}

.room-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
